body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-fredoka-one: "Fredoka One";
  --font-barlow: Barlow;
  --font-inter: Inter;

  /* font sizes */
  --font-size-mid: 17px;
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-5xl: 24px;
  --font-size-17xl: 36px;
  --font-size-77xl: 96px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-9xl: 28px;

  /* Colors */
  --color-gray-100: rgba(20, 20, 20, 0);
  --color-gray: rgba(0, 0, 0, 0.5);
  --color-white: #fff;
  --color-red: #ff0000;
  --color-black: #000;
  --color-gainsboro: #d9d9d9;
  --color-darkgray: #999;
  --color-firebrick: #b50000;

  /* border radiuses */
  --br-mini: 15px;
  --br-3xs: 10px;
  --br-xl: 20px;
}

.trending-now {
  position: absolute;
  height: 16.57%;
  width: 29.72%;
  top: 0;
  left: 2.99%;
  display: flex;
  align-items: center;
}
.image-10-icon,
.image-11-icon,
.image-13-icon,
.image-15-icon,
.image-21-icon {
  position: absolute;
  height: 75.15%;
  width: 14.86%;
  top: 20.12%;
  right: 82.15%;
  bottom: 4.73%;
  left: 2.99%;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-11-icon,
.image-13-icon,
.image-15-icon,
.image-21-icon {
  width: 14.93%;
  right: 62.36%;
  left: 22.71%;
}
.image-13-icon,
.image-15-icon,
.image-21-icon {
  width: 14.79%;
  right: 42.71%;
  left: 42.5%;
}
.image-15-icon,
.image-21-icon {
  height: 78.7%;
  width: 14.93%;
  right: 22.92%;
  bottom: 1.18%;
  left: 62.15%;
}
.image-21-icon {
  right: 3.13%;
  left: 81.94%;
}
.component-3-child {
  position: absolute;
  height: 95.56%;
  width: 100%;
  top: 4.44%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
}
.component-3,
.kids-movies {
  position: absolute;
  top: 886px;
  left: 0;
  width: 1440px;
  height: 338px;
}
.kids-movies {
  height: 16.82%;
  width: 29.72%;
  top: 0;
  left: 2.99%;
  display: flex;
  align-items: center;
}
.image-18-icon,
.image-19-icon,
.image-20-icon,
.image-22-icon,
.image-23-icon {
  position: absolute;
  height: 75.98%;
  width: 14.86%;
  top: 20.42%;
  right: 82.15%;
  bottom: 3.6%;
  left: 2.99%;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-19-icon,
.image-20-icon,
.image-22-icon,
.image-23-icon {
  width: 14.93%;
  right: 62.36%;
  left: 22.71%;
}
.image-20-icon,
.image-22-icon,
.image-23-icon {
  width: 14.79%;
  right: 42.71%;
  left: 42.5%;
}
.image-22-icon,
.image-23-icon {
  width: 14.93%;
  right: 22.92%;
  left: 62.15%;
}
.image-23-icon {
  right: 3.13%;
  left: 81.94%;
}
.component-4-child {
  position: absolute;
  height: 97%;
  width: 100%;
  top: 3%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
}
.component-4,
.korean-dramas {
  position: absolute;
  top: 1220px;
  left: 0;
  width: 1440px;
  height: 333px;
}
.korean-dramas {
  height: 16.37%;
  width: 29.72%;
  top: 0;
  left: 3.06%;
  display: flex;
  align-items: center;
}
.image-24-icon,
.image-26-icon,
.image-27-icon,
.image-28-icon,
.image-32-icon {
  position: absolute;
  height: 74.56%;
  width: 14.79%;
  top: 19.88%;
  right: 82.15%;
  bottom: 5.56%;
  left: 3.06%;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-26-icon,
.image-27-icon,
.image-28-icon,
.image-32-icon {
  width: 15%;
  right: 62.29%;
  left: 22.71%;
}
.image-27-icon,
.image-28-icon,
.image-32-icon {
  width: 14.93%;
  right: 3.13%;
  left: 81.94%;
}
.image-27-icon,
.image-32-icon {
  right: 22.92%;
  left: 62.15%;
}
.image-32-icon {
  height: 78.07%;
  width: 14.79%;
  right: 42.71%;
  bottom: 2.05%;
  left: 42.5%;
}
.component-5-child {
  position: absolute;
  height: 95.32%;
  width: 100%;
  top: 4.68%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
}
.component-5 {
  position: absolute;
  top: 1553px;
  left: 0;
  width: 1440px;
  height: 342px;
}
.image-17-icon,
.image-51-icon {
  position: absolute;
  height: 75.98%;
  width: 14.86%;
  top: 20.42%;
  right: 22.99%;
  bottom: 3.6%;
  left: 62.15%;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-17-icon {
  height: 79.58%;
  width: 14.93%;
  right: 3.13%;
  bottom: 0;
  left: 81.94%;
}
.component-2 {
  position: absolute;
  top: 553px;
  left: 0;
  width: 1440px;
  height: 333px;
}
.rating-49,
.soundtrack-1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.soundtrack-1 {
  top: 123px;
  left: 56px;
  font-size: 64px;
  width: 494px;
  height: 72px;
}
.rating-49 {
  top: 316px;
  left: 58px;
  font-size: var(--font-size-5xl);
  width: 256px;
  height: 31px;
}
.two-best-friends {
  position: absolute;
  top: 225px;
  left: 56px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 788px;
  height: 138px;
}

.button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 199px;
  height: 54px;
}


.detail-wrapper,
.play-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  position: relative;
  width: 103px;
  height: 35px;
  flex-shrink: 0;
  color: black;
}

.detail-wrapper a{
  position: relative;
  width: 103px;
  height: 35px;
  flex-shrink: 0;
  color: black;
  text-decoration: none;
  font-family: var(--font-barlow);
}

.detail-wrapper,
.play-wrapper {
  position: absolute;
  top: 378px;
  left: 201px;
  background-color: var(--color-white);
  width: 104px;
  overflow: hidden;
  flex-direction: column;
  text-align: center;
  color: var(--color-black);
}
.play-wrapper {
  left: 58px;
}
.image-50 {
  position: absolute;
  height: 21.3%;
  width: 100%;
  top: 3.67%;
  right: 0;
  bottom: 75.03%;
  left: 0;
  background-image: url(../public/image-50@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-mini);
}
.jetflix {
  position: absolute;
  top: 16px;
  left: 98px;
  font-size: 40px;
  font-weight: 800;
  font-family: var(--font-barlow);
  color: var(--color-red);
}
.movies,
.news-popular {
  position: absolute;
  top: 32px;
  left: 476px;
}
.news-popular {
  top: 31px;
  left: 619px;
}
.home,
.kids-movie,
.profile {
  position: absolute;
  top: 32px;
  left: 346px;
}
.kids-movie,
.profile {
  left: 846px;
}
.profile {
  top: 31px;
  left: 1029px;
}
.movie-page-child,
.nav-bar {
  position: absolute;
  width: 100%;
}
.nav-bar {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #161616;
  height: 82px;
  font-size: var(--font-size-xl);
  font-family: var(--font-fredoka-one);
}
.movie-page-child {
  top: 1926px;
  left: -1px;
  background-color: var(--color-gray);
  height: 229px;
}
.component-1-child,
.component-1-inner,
.component-1-item,
.group-icon {
  position: absolute;
  height: 26.15%;
  width: 14.88%;
  top: 0;
  right: 0;
  bottom: 73.85%;
  left: 85.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-1-inner,
.component-1-item,
.group-icon {
  right: 55.92%;
  left: 29.2%;
}
.component-1-inner,
.group-icon {
  right: 27.92%;
  left: 57.19%;
}
.group-icon {
  right: 85.12%;
  left: 0;
}
.about,
.info,
.privacy-policy,
.support,
.terms-of-use {
  position: absolute;
  height: 13.73%;
  width: 43.15%;
  top: 86.27%;
  left: 32.62%;
  display: inline-block;
}
.about,
.info,
.support,
.terms-of-use {
  width: 39.81%;
  top: 62.11%;
  left: 13.36%;
}
.about,
.info,
.support {
  width: 19.34%;
  top: 60.77%;
  left: 60.58%;
}
.info,
.support {
  width: 24.55%;
  top: 41.78%;
}
.info {
  width: 11.9%;
  left: 14.91%;
}
.component-1 {
  position: absolute;
  top: 1968px;
  left: 565px;
  width: 307.72px;
  height: 184.3px;
  font-size: var(--font-size-mid);
  font-family: var(--font-fredoka-one);
}

.movies {
  color: white;
  text-decoration: none;
}
.news-popular {
  color: white;
  text-decoration: none;
}
.home {
  color: white;
  text-decoration: none;
}
.movie-page {
  position: relative;
  background-color: #141414;
  width: 100%;
  height: 2155px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
